Ref: https://www.youtube.com/watch?v=3ZacJ9zRVOU 
01. Data Collection
02. Data Preprocessing
03. EDA
04. Conclusions

In [11]:
from bs4 import BeautifulSoup as soup
from datetime import date, datetime
from urllib.request import Request, urlopen

import pandas as pd
import re

# Web Scrapping

In [9]:
today = datetime.now()
today
yesterday_str = "%s %d,%d" %(date.today().strftime("%b"), today.day-1, today.year)
yesterday_str

'Jun 19,2021'

In [3]:
url = 'https://www.worldometers.info/coronavirus/#countries'
req = Request(url, headers={'User-Agent':"Morilla/5.0"})

webpage = urlopen(req)
page_soup = soup(webpage, 'html.parser')
# page_soup

In [4]:
table = page_soup.findAll("table",{"id":"main_table_countries_yesterday"})
table

[<table class="table table-bordered table-hover main_table_countries" id="main_table_countries_yesterday" style="width:100%;margin-top: 0px !important;display:none;">
 <thead>
 <tr>
 <th width="1%">#</th>
 <th width="100">Country,<br/>Other</th>
 <th width="20">Total<br/>Cases</th>
 <th width="30">New<br/>Cases</th>
 <th width="30">Total<br/>Deaths</th>
 <th width="30">New<br/>Deaths</th>
 <th width="30">Total<br/>Recovered</th>
 <th width="30">New<br/>Recovered</th>
 <th width="30">Active<br/>Cases</th>
 <th width="30">Serious,<br/>Critical</th>
 <th width="30">TotÂ Cases/<br/>1M pop</th>
 <th width="30">Deaths/<br/>1M pop</th>
 <th width="30">Total<br/>Tests</th>
 <th width="30">Tests/<br/>
 <nobr>1M pop</nobr>
 </th>
 <th width="30">Population</th>
 <th style="display:none" width="30">Continent</th>
 <th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
 <th width="30">New Cases/1M pop</th>
 <th width="30">New Deaths/1M pop</th>
 <th width="30">Active Cases/1M pop</th>
 </tr>
 </thead>
 <tbody>
 <tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Asia</nobr>
 </td>
 <td>54,353,767</td>
 <td>+130,765</td>
 <td>764,694</td>
 <td>+2,442</td>
 <td>51,672,421</td>
 <td>+163,102</td>
 <td>1,916,652</td>
 <td>26,891</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Asia" style="display:none;">Asia</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="North America" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>North America</nobr>
 </td>
 <td>40,325,564</td>
 <td>+19,994</td>
 <td>911,411</td>
 <td>+511</td>
 <td>33,649,845</td>
 <td>+26,972</td>
 <td>5,764,308</td>
 <td>11,293</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="North America" style="display:none;">North America</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="South America" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>South America</nobr>
 </td>
 <td>31,545,494</td>
 <td>+144,335</td>
 <td>968,572</td>
 <td>+4,043</td>
 <td>28,542,245</td>
 <td>+116,181</td>
 <td>2,034,677</td>
 <td>31,668</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="South America" style="display:none;">South America</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Europe</nobr>
 </td>
 <td>47,426,787</td>
 <td>+39,282</td>
 <td>1,091,901</td>
 <td>+741</td>
 <td>44,906,815</td>
 <td>+41,591</td>
 <td>1,428,071</td>
 <td>8,886</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Europe" style="display:none;">Europe</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Africa</nobr>
 </td>
 <td>5,226,362</td>
 <td>+25,150</td>
 <td>137,476</td>
 <td>+442</td>
 <td>4,631,865</td>
 <td>+16,692</td>
 <td>457,021</td>
 <td>4,021</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Africa" style="display:none;">Africa</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Oceania</nobr>
 </td>
 <td>71,335</td>
 <td>+231</td>
 <td>1,265</td>
 <td></td>
 <td>68,033</td>
 <td>+101</td>
 <td>2,037</td>
 <td>10</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr></nobr>
 </td>
 <td>721</td>
 <td></td>
 <td>15</td>
 <td></td>
 <td>706</td>
 <td></td>
 <td>0</td>
 <td>0</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="" style="display:none;"></td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>
 <tr class="total_row_world">
 <td></td>
 <td style="text-align:left;">World</td>
 <td>178,950,030</td>
 <td>+359,757</td>
 <td>3,875,334</td>
 <td>+8,179</td>
 <td>163,471,930</td>
 <td>+364,639</td>
 <td>11,602,766</td>
 <td>82,769</td>
 <td>22,958</td>
 <td>497.2</td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="all" style="display:none">All</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/china/">China</a></td>
 <td style="font-weight: bold; text-align:right">91,564</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+30</td>
 <td style="font-weight: bold; text-align:right;">4,636 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">86,425</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+28</td>
 <td style="text-align:right;font-weight:bold;">503</td>
 <td style="font-weight: bold; text-align:right">21</td>
 <td style="font-weight: bold; text-align:right">64</td>
 <td style="font-weight: bold; text-align:right">3</td>
 <td style="font-weight: bold; text-align:right">160,000,000</td>
 <td style="font-weight: bold; text-align:right">111,163</td>
 <td style="font-weight: bold; text-align:right">1,439,323,776 </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <td>15,719</td><td>310,467</td><td>9</td>
 <td style="font-weight: bold; text-align:right">0.02</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">0.3</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
 <td style="font-weight: bold; text-align:right">34,401,712</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+7,782</td>
 <td style="font-weight: bold; text-align:right;">617,083 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+170</td>
 <td style="font-weight: bold; text-align:right">28,694,843</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+18,914</td>
 <td style="text-align:right;font-weight:bold;">5,089,786</td>
 <td style="font-weight: bold; text-align:right">3,989</td>
 <td style="font-weight: bold; text-align:right">103,347</td>
 <td style="font-weight: bold; text-align:right">1,854</td>
 <td style="font-weight: bold; text-align:right">498,689,211</td>
 <td style="font-weight: bold; text-align:right">1,498,123</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">332,876,117</a> </td>
 <td data-continent="North America" style="display:none">North America</td>
 <td>10</td><td>539</td><td>1</td>
 <td style="font-weight: bold; text-align:right">23</td>
 <td style="font-weight: bold; text-align:right">0.5</td>
 <td style="font-weight: bold; text-align:right">15,290</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
 <td style="font-weight: bold; text-align:right">29,881,352</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+58,588</td>
 <td style="font-weight: bold; text-align:right;">386,740 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+1,239</td>
 <td style="font-weight: bold; text-align:right">28,758,447</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+87,568</td>
 <td style="text-align:right;font-weight:bold;">736,165</td>
 <td style="font-weight: bold; text-align:right">8,944</td>
 <td style="font-weight: bold; text-align:right">21,450</td>
 <td style="font-weight: bold; text-align:right">278</td>
 <td style="font-weight: bold; text-align:right">389,207,637</td>
 <td style="font-weight: bold; text-align:right">279,385</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,393,086,773</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <td>47</td><td>3,602</td><td>4</td>
 <td style="font-weight: bold; text-align:right">42</td>
 <td style="font-weight: bold; text-align:right">0.9</td>
 <td style="font-weight: bold; text-align:right">528</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
 <td style="font-weight: bold; text-align:right">17,883,750</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+81,574</td>
 <td style="font-weight: bold; text-align:right;">500,868 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+2,247</td>
 <td style="font-weight: bold; text-align:right">16,183,849</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+46,881</td>
 <td style="text-align:right;font-weight:bold;">1,199,033</td>
 <td style="font-weight: bold; text-align:right">8,318</td>
 <td style="font-weight: bold; text-align:right">83,562</td>
 <td style="font-weight: bold; text-align:right">2,340</td>
 <td style="font-weight: bold; text-align:right">52,714,701</td>
 <td style="font-weight: bold; text-align:right">246,310</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">214,017,366</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <td>12</td><td>427</td><td>4</td>
 <td style="font-weight: bold; text-align:right">381</td>
 <td style="font-weight: bold; text-align:right">10</td>
 <td style="font-weight: bold; text-align:right">5,603</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
 <td style="font-weight: bold; text-align:right">5,755,496</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+2,624</td>
 <td style="font-weight: bold; text-align:right;">110,724 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+22</td>
 <td style="font-weight: bold; text-align:right">5,555,411</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+8,485</td>
 <td style="text-align:right;font-weight:bold;">89,361</td>
 <td style="font-weight: bold; text-align:right">1,703</td>
 <td style="font-weight: bold; text-align:right">87,987</td>
 <td style="font-weight: bold; text-align:right">1,693</td>
 <td style="font-weight: bold; text-align:right">90,467,735</td>
 <td style="font-weight: bold; text-align:right">1,383,023</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,413,043</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>11</td><td>591</td><td>1</td>
 <td style="font-weight: bold; text-align:right">40</td>
 <td style="font-weight: bold; text-align:right">0.3</td>
 <td style="font-weight: bold; text-align:right">1,366</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
 <td style="font-weight: bold; text-align:right">5,365,208</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+5,480</td>
 <td style="font-weight: bold; text-align:right;">49,122 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+51</td>
 <td style="font-weight: bold; text-align:right">5,228,419</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+4,195</td>
 <td style="text-align:right;font-weight:bold;">87,667</td>
 <td style="font-weight: bold; text-align:right">829</td>
 <td style="font-weight: bold; text-align:right">62,962</td>
 <td style="font-weight: bold; text-align:right">576</td>
 <td style="font-weight: bold; text-align:right">58,339,486</td>
 <td style="font-weight: bold; text-align:right">684,624</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">85,213,922</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <td>16</td><td>1,735</td><td>1</td>
 <td style="font-weight: bold; text-align:right">64</td>
 <td style="font-weight: bold; text-align:right">0.6</td>
 <td style="font-weight: bold; text-align:right">1,029</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
 <td style="font-weight: bold; text-align:right">5,299,215</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+17,906</td>
 <td style="font-weight: bold; text-align:right;">128,911 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+466</td>
 <td style="font-weight: bold; text-align:right">4,861,343</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+10,684</td>
 <td style="text-align:right;font-weight:bold;">308,961</td>
 <td style="font-weight: bold; text-align:right">2,300</td>
 <td style="font-weight: bold; text-align:right">36,297</td>
 <td style="font-weight: bold; text-align:right">883</td>
 <td style="font-weight: bold; text-align:right">144,800,000</td>
 <td style="font-weight: bold; text-align:right">991,815</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,994,938</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>28</td><td>1,133</td><td>1</td>
 <td style="font-weight: bold; text-align:right">123</td>
 <td style="font-weight: bold; text-align:right">3</td>
 <td style="font-weight: bold; text-align:right">2,116</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
 <td style="font-weight: bold; text-align:right">4,620,968</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+10,321</td>
 <td style="font-weight: bold; text-align:right;">127,970 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+14</td>
 <td style="font-weight: bold; text-align:right">4,299,835</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+2,078</td>
 <td style="text-align:right;font-weight:bold;">193,163</td>
 <td style="font-weight: bold; text-align:right">210</td>
 <td style="font-weight: bold; text-align:right">67,726</td>
 <td style="font-weight: bold; text-align:right">1,876</td>
 <td style="font-weight: bold; text-align:right">200,024,844</td>
 <td style="font-weight: bold; text-align:right">2,931,615</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,230,263</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>15</td><td>533</td><td>0</td>
 <td style="font-weight: bold; text-align:right">151</td>
 <td style="font-weight: bold; text-align:right">0.2</td>
 <td style="font-weight: bold; text-align:right">2,831</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/argentina/">Argentina</a></td>
 <td style="font-weight: bold; text-align:right">4,258,394</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+15,631</td>
 <td style="font-weight: bold; text-align:right;">88,742 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+495</td>
 <td style="font-weight: bold; text-align:right">3,868,105</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+23,776</td>
 <td style="text-align:right;font-weight:bold;">301,547</td>
 <td style="font-weight: bold; text-align:right">7,386</td>
 <td style="font-weight: bold; text-align:right">93,395</td>
 <td style="font-weight: bold; text-align:right">1,946</td>
 <td style="font-weight: bold; text-align:right">15,791,124</td>
 <td style="font-weight: bold; text-align:right">346,329</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/argentina-population/">45,595,737</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <td>11</td><td>514</td><td>3</td>
 <td style="font-weight: bold; text-align:right">343</td>
 <td style="font-weight: bold; text-align:right">11</td>
 <td style="font-weight: bold; text-align:right">6,613</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
 <td style="font-weight: bold; text-align:right">4,252,095</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1,197</td>
 <td style="font-weight: bold; text-align:right;">127,253 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+28</td>
 <td style="font-weight: bold; text-align:right">4,035,692</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+4,087</td>
 <td style="text-align:right;font-weight:bold;">89,150</td>
 <td style="font-weight: bold; text-align:right">394</td>
 <td style="font-weight: bold; text-align:right">70,427</td>
 <td style="font-weight: bold; text-align:right">2,108</td>
 <td style="font-weight: bold; text-align:right">69,765,699</td>
 <td style="font-weight: bold; text-align:right">1,155,523</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,375,868</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>14</td><td>474</td><td>1</td>
 <td style="font-weight: bold; text-align:right">20</td>
 <td style="font-weight: bold; text-align:right">0.5</td>
 <td style="font-weight: bold; text-align:right">1,477</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>

### Handle labels

In [77]:
containers = table[0].findAll("tr", {"style":""})

col_labels = []

label_data = containers.pop(0)
label_data = label_data.findAll("th",{})

for label in label_data:
    col_labels.append(label.text.replace("\n", ""))
    
col_labels.pop(0) # remove 
col_labels

['Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/1M pop',
 'Population',
 'Continent',
 '1 Caseevery X ppl',
 '1 Deathevery X ppl',
 '1 Testevery X ppl',
 'New Cases/1M pop',
 'New Deaths/1M pop',
 'Active Cases/1M pop']

In [24]:
data = []

for country in containers:
    country_data = []
    country_container = country.findAll("td")
    
    for i in range(1, len(country_container)):
        feature = country_container[i].text
        
        feature = re.sub('[^A-Za-z0-9]+', '', feature)
        if feature == '': 
            feature = '-1'
        country_data.append(feature)
        
    data.append(country_data)

In [25]:
df = pd.DataFrame(data)
df

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,World,178950030,359757,3875334,8179,163471930,364639,11602766,82769,22958,...,-1,-1,-1,All,-1,-1,-1,-1,-1,-1
1,China,91564,30,4636,-1,86425,28,503,21,64,...,160000000,111163,1439323776,Asia,15719,310467,9,002,-1,03
2,USA,34401712,7782,617083,170,28694843,18914,5089786,3989,103347,...,498689211,1498123,332876117,NorthAmerica,10,539,1,23,05,15290
3,India,29881352,58588,386740,1239,28758447,87568,736165,8944,21450,...,389207637,279385,1393086773,Asia,47,3602,4,42,09,528
4,Brazil,17883750,81574,500868,2247,16183849,46881,1199033,8318,83562,...,52714701,246310,214017366,SouthAmerica,12,427,4,381,10,5603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,Macao,53,-1,-1,-1,51,-1,2,-1,81,...,4483,6815,657861,Asia,12412,-1,147,-1,-1,3
204,Greenland,49,-1,-1,-1,40,-1,9,-1,862,...,27387,481614,56865,NorthAmerica,1161,-1,2,-1,-1,158
205,SaintPierreMiquelon,26,-1,-1,-1,25,-1,1,-1,4508,...,6128,1062598,5767,NorthAmerica,222,-1,1,-1,-1,173
206,WesternSahara,10,-1,1,-1,8,-1,1,-1,16,...,-1,-1,611440,Africa,61144,611440,-1,-1,-1,2
207,Total,178950030,359757,3875334,8179,163471930,364639,11602766,82769,229576,...,-1,-1,-1,All,-1,-1,-1,-1,-1,-1

In [81]:
df.columns = col_labels
df.head()

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotÂ Cases/1M pop,...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,World,178950030,359757,3875334,8179,163471930,364639,11602766,82769,22958,...,-1,-1,-1,All,-1,-1,-1,-1,-1,-1
1,China,91564,30,4636,-1,86425,28,503,21,64,...,160000000,111163,1439323776,Asia,15719,310467,9,002,-1,03
2,USA,34401712,7782,617083,170,28694843,18914,5089786,3989,103347,...,498689211,1498123,332876117,NorthAmerica,10,539,1,23,05,15290
3,India,29881352,58588,386740,1239,28758447,87568,736165,8944,21450,...,389207637,279385,1393086773,Asia,47,3602,4,42,09,528
4,Brazil,17883750,81574,500868,2247,16183849,46881,1199033,8318,83562,...,52714701,246310,214017366,SouthAmerica,12,427,4,381,10,5603